.nav{
    display: flex;
    width: 375px;
    height: 158px;
    flex-wrap: wrap;
    margin-top:-2px; 


    span{
        display: block;
        // flex: 1;
        width: 75px;
        height: 78px;
        background: #000;

        img{
            width: 75px;
            height: 78px;
        }
    }
}