.nav{
    // display: flex;
    width: 375px;
    height: 158px;
    a{
        // display: block;
        // flex: 1;
        float: left;
        width: 75px;
        height: 78px;
        background: #000;

    }
}