i{
    font-style:normal
}
li{
    list-style: none;
}

input{
    text-indent: 20px;
}
.w-header{
    width: 100%;
    height: 40px;
    background: #de4943;
    color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    a{
        width: 30px;
        height: 40px;
        position: absolute;
        top: 0;
        display: block;
        color: #fff;
    }
    .w-left{
        position: absolute;
        top:8px;
        left: 10px;
        .iconfont{
            font-size: 30px;
            color: #fff;

        }

    }
    .w-right{
        position: absolute;
        top:8px;

        right: 10px;
        .iconfont{
            font-size: 30px;
            color: #fff;
        }
    }
    h2{
        line-height: 40px;
        text-align: center;
        font-size: 16px;
    }
}
.w-content{
    background: #FFFFFF;
    .w-zzz{
        width: 84%;
        margin: 0 auto;
        overflow: hidden;
        li{
            width: 50%;
            height: 45px;
            line-height: 45px;
            float: left;
            p{
                height: 30px;
                line-height: 40px;
                font-size: 14px;
            }
            span{
                height: 2px;
                background-color: #de4943;
                width: 110px;
                float: right;
            }
        }
        .zhdl{
            text-align: left;
            span{
                height: 2px;
                background-color: #de4943;
                width: 55px;
                float: left;
            }
        }
        .sjdl{
            text-align: right;
            span{
                height: 2px;
                background-color: #de4943;
                width: 110px;
                float: right;
            }
        }
    }
    
    
    .w-ipt{
        width: 84%;
        margin: 0 auto;
        overflow: hidden;
        margin-top:10px;
        .w-user{
            font-size: 14px;
            padding-left:10px; 
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            position: relative;
            input{
                box-sizing: content-box;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                outline: none;
                width: 70%;
                height: 40px;
                line-height: 40px;
            }
            p{
                float: right;
                color: #DE4B45;
                i{
                    width: 15px;
                    height: 15px;
                    display: block;
                    float: left;
                    // margin: 3px 5px 0 0;
                }
            }
        }
        .w-pwd{
            padding-left:10px; 
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            position: relative;
            
            input{
                border: 0;
                outline: none;
                width: 70%;
                height: 40px;
                line-height: 40px;
            }
            p{
                float: right;
                color: #de4943;
                font-size: 14px;
                i{
                    width: 15px;
                    height: 15px;
                    display: block;
                    float: left;
                    // margin: 3px 5px 0 0;
                }
            }
        }
        .w-yzm{
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            position: relative;
            text-align: center;
            line-height: 40px;

            input{
                border: 0;
                vertical-align: middle;
            }
            
            .w-tb{
                height: 40px;
                position: absolute;
                z-index: 10;
                right: 10px;
                top: 1px;

                i{
                    float: right;
                    width: 21px;
                    height: 24px;
                    line-height: 24px;
                    margin-top: 8px;
                }
            }
        }
        .w-btn{
            width: 100%;
            height: 34px;
            line-height: 34px;
            display: block;
            clear: both;
            margin: 30px auto;
            text-align: center;
            background: #DE4B45;
            border-radius: 5px;
            color: #FFFFFF;
            font-size: 16px;
        }
        .w-serve{
            display: block;
            width: 280px;
            height: 20px;
            .w-regist{
                color: #666;
                text-decoration: underline;
                height: 20px;
                display: block;
                float: left;
                font-size: 14px;
            }
            .w-getpwd{
                color: #666;
                text-decoration: underline;
                height: 20px;
                display: block;
                float: right;
                font-size: 14px;
            }
        }
        .w-title{
            width: 100%;
            height: 40px;
            margin-top: 20px;
            position: relative;
            .w-line{
                height: 20px;
                border-bottom: 1px solid #cccccc;
            }
            .w-partner{
                width: 110px;
                height: 40px;
                background: #ffffff;
                position: absolute;
                top: 0;
                left: 50%;
                line-height: 40px;
                margin: 0 0 0 -55px;
                text-align: center;
                color: #878686;
                font-size: 14px;
            }
        }
        .w-choose{
            margin: 20px 0;
            width: 315px;
            text-align: center;
            li{
                width: 33%;
                display: inline-block;
                .w-qq{
                    display: inline-block;
                    .iconfont{
                        font-size:38px;
                        color: #1296db;
                    }
                }
                .w-zfb{
                    display: inline-block;
                    .iconfont{
                        font-size:40px;
                        color: #d4237a; 
                    }
                }
                
               
            }
        }
    }
    
}
.w-register{
    padding-top: 15px;
    max-width: 768px;
    margin: 40px auto 0;
    background: #FFFFFF;
    .w-zucecontent{
        width: 84%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 10px;
        .w-zucelet{
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            position: relative; 
            i{
                width: 20px;
                height: 20px;
                display: block;
                float: left;
                margin: 10px 10px 0 10px;
            }
            input{
                width: 70%;
                height: 40px;
                line-height: 40px;
                box-sizing: content-box;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                outline: none;
            }
        }
        .w-zuceyzm{
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            text-align: center;
            span{
                // 待写    验证码
            }
            .w-zucetb{
                height: 40px;
                position: absolute;
                z-index: 10;
                right: 10px;
                top: 1px;
                i{
                    float: right;
                    width: 21px;
                    height: 24px;
                    margin-top: 8px;
                }
            }
        }
        .w-zucexym{
            height: 40px;
            border-radius: 3px;
            margin-bottom: 38px;
            position: relative;
            width: 54%;
            float: left;
            input{
                width: 100%;
                height: 40px;
                line-height: 40px;
                float: left;
                border: 1px solid #cccccc;
                border-radius: 3px;
                padding-left: 15px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            p{
                position: absolute;
                top: 42px;
                right: 0;
                color: #de4943;
                font-size: 14px;
                i{
                    width: 15px;
                    height: 15px;
                    display: block;
                    float: left;
                    margin: 3px 5px 0 0;
                }
            }
        }
        .w-zucehqxym{
            float: right;
            a{
                font-size: 14px;
                background: #df3832;
                width: auto;
                height: 40px;
                line-height: 40px;
                float: right;
                border-radius: 5px;
                color: #ffffff;
                padding: 0 15px;
            }
        }
        .w-meiyong{
            height: 78px;
            width: 100%;
        }
        .w-zucepwd{
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            position: relative;
            i{
                width: 20px;
                height: 20px;
                display: block;
                float: left;
                margin: 10px 10px 0 10px;
            }
            input{
                width: 70%;
                height: 40px;
                line-height: 40px;
                box-sizing: content-box;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                outline: none;
            }
        }
        .w-zucepwd2{
            height: 40px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            margin-bottom: 40px;
            position: relative;
            i{
                width: 20px;
                height: 20px;
                display: block;
                float: left;
                margin: 10px 10px 0 10px;
            }
            input{
                width: 70%;
                height: 40px;
                line-height: 40px;
                box-sizing: content-box;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                outline: none;
            }
        }
        .w-zucebtn{
            width: 100%;
            height: 34px;
            line-height: 34px;
            display: block;
            clear: both;
            margin: 30px auto;
            text-align: center;
            background: #DE4B45;
            border-radius: 5px;
            color: #FFFFFF;
            font-size: 16px;
        }
    }
}
.w-zhmm{
    padding-top: 15px;
    max-width: 768px;
    margin: 40px auto 0;
    background: #FFFFFF;
    .w-zhmmcontent{
        width: 84%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 10px;
    }
}