

footer{
    display: flex;
    position: fixed;
    right: 0;    
    bottom: 0;
    left: 0;
    font-size: 14px;
}
footer ul{
    display: flex;
    width: 100%;
    
}

footer ul li{
    flex: 1;
    
}

footer ul li a{
    font-size: 14px;
}